services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      API_SPORTS_KEY: 4a5a713b507782a9b85c8c4d1d8427a4
    command: uvicorn app.main:app --reload --host 0.0.0.0
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped